:root {
  --font-base: 'DM Sans', serif;
  --font-alt: 'DM Sans', sans-serif;
  
  --color-navy: #0F1624;
  --color-l-purple: #F4EEFF;
  --color-m-purple: #DCD6F7;
  --color-l-blue: #A6B1E1;
  --color-golden: #DCCA87;
  --color-white: #FFFFFF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}
